@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto';
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

/* ---------- MARGIN ---------- */

.m-1{
	margin: 1rem;
}

.m-2{
	margin: 2rem;
}

.m-3{
	margin: 3rem;
}

.m-4{
	margin: 4rem;
}

.mt-1{
	margin-top: 1rem;
}

.mt-2{
	margin-top: 2rem;
}

.mt-3{
	margin-top: 3rem;
}

.mt-4{
	margin-top: 4rem;
}

.mb-1{
	margin-bottom: 1rem;
}

.mb-2{
	margin-bottom: 2rem;
}

.mb-3{
	margin-bottom: 3rem;
}

.mb-4{
	margin-bottom: 4rem;
}

.ml-1{
	margin-left: 1rem;
}

.ml-2{
	margin-left: 2rem;
}

.ml-3{
	margin-left: 3rem;
}

.ml-4{
	margin-left: 4rem;
}

.mr-1{
	margin-right: 1rem;
}

.mr-2{
	margin-right: 2rem;
}

.mr-3{
	margin-right: 3rem;
}

.mr-4{
	margin-right: 4rem;
}

.m-auto{
	margin: auto;
}

/* ---------- PADDING ---------- */

.p-1{
	padding: 1rem;
}

.p-2{
	padding: 2rem;
}

.p-3{
	padding: 3rem;
}

.p-4{
	padding: 4rem;
}

.pt-1{
	padding-top: 1rem;
}

.pt-2{
	padding-top: 2rem;
}

.pt-3{
	padding-top: 3rem;
}

.pt-4{
	padding-top: 4rem;
}

.pb-1{
	padding-bottom: 1rem;
}

.pb-2{
	padding-bottom: 2rem;
}

.pb-3{
	padding-bottom: 3rem;
}

.pb-4{
	padding-bottom: 4rem;
}

.pl-1{
	padding-left: 1rem;
}

.pl-2{
	padding-left: 2rem;
}

.pl-3{
	padding-left: 3rem;
}

.pl-4{
	padding-left: 4rem;
}

.pr-1{
	padding-right: 1rem;
}

.pr-2{
	padding-right: 2rem;
}

.pr-3{
	padding-right: 3rem;
}

.pr-4{
	padding-right: 4rem;
}

/* ---------- WIDTH ---------- */

.w-1{
	width: 10%;
}

.w-2{
	width: 20%;
}

.w-3{
	width: 30%;
}

.w-4{
	width: 40%;
}

.w-5{
	width: 50%;
}

.w-6{
	width: 60%;
}

.w-7{
	width: 70%;
}

.w-8{
	width: 80%;
}

.w-9{
	width: 90%;
}

.w-10{
	width: 100%;
}

/* ---------- COLORS ----------*/

.color-primary{
	color: #03dac6;
}

.color-light{
	color: #ffffff;
}

/* ---------- BACKGROUNDS DARKS ----------*/

.bg-dark-0{
	background: #000000;
}

.bg-dark-1{
	background: #070707;
}

.bg-dark-2{
	background: #151515;
}

.bg-dark-3{
	background: #222222;
}

/* ---------- BACKGROUNDS GREY ---------- */

.bg-grey-0{
	background: #333333;
}

.bg-grey-1{
	background: #444444;
}

.bg-grey-2{
	background: #555555;
}

.bg-grey-3{
	background: #666666;
}

/* ---------- BACKGROUNDS LIGHT ---------- */

.bg-light-0{
	background: #BBBBBB;
}

.bg-light-1{
	background: #CCCCCC;
}

.bg-light-2{
	background: #DDDDDD;
}

.bg-light-3{
	background: #f2f2f2;
}

.bg-light-4{
	background: #ffffff;
}



/* ---------- BORDER ---------- */

.border{
	border: 1px solid #202020;
}

.border-bottom-primary{
	border-bottom: solid 2px #03dac6;
}

/* ------------- DISPLAY FLEX  -------------*/ 

.flex{
	display: flex;
}

.column{
	flex-direction: column;
}

.justify-center{
	justify-content: center;
}

.justify-around{
	justify-content: space-around;
}

.justify-between{
	justify-content: space-between;
}

.item-center{
	align-items: center;
}

/* ----------- CONTAINER ----------- */

.container{
	margin: auto;
	width: 90%;
}

.box{
	border-radius: 6px;
}

.box-content{
	display: flex;
	justify-content: center;
	padding: 8px 5px;
}

/* ------------- BUTTON --------------- */

.btn-primary{
    background: #111;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    padding: .7rem;
    margin: .1rem .3rem;
    border-radius: 8%;
    border: none;
    transition: all 0.4s ease 0s;
}

.btn-primary:hover{
    transition: .1s;
    background: #000;
    transform: scale(1.15);
}

.btn-primary:active{
    border:none;
    background: rgb(20, 20, 20);
}

/* -------------- NAV -------------- */

.navbar{
	margin: auto;
	max-width: 1920px;
}

.navbar, .navbar ul{
	align-items: center;
	display: flex;
}

.navbar ul{
	margin-left: 2em;
}

.navbar ul li, .navbar ul a{
	padding: 20px 10px;
}

.navbar-column, .navbar-column ul{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar-column ul li, .navbar-column ul a{
	padding: 5px 0px;
}

/* -------------- ANCHOR -------------- */

.a-1{
	color: #fff;
    font-weight: normal;
    font-size: 16px;
}

.a-1:hover{
	color: #03dac6;
    transition: .3s;
}

.a-2{
	color: #000;
	font-weight: normal;
    font-size: 16px;
}

.a-2:hover{
	color: #03dac6;
    transition: .3s;
}

/* ---------------- OTROS -------------- */

.non-selectable{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}